{% extends 'layout.twig' %}

{% block title 'Projects' %}

{% block content %}
    {% if not projects %}
        <p>No project yet.</p>
    {% else %}
        <ul id="projects">
            {% for i, project in projects %}
                <li class="{{ project.statuscode }}">
                    <div class="status">
                    <a href="{{ path('project', { 'slug': project.slug }) }}">
                        {{ project.status }}
                    </a>
                    </div>
                    {% if project.url %}<a href="{{ project.url }}">{% endif %}
                        {{ project.shortname }}
                        {% if project.subname %}<small> &mdash; {{ project.subname }}</small>{% endif %}
                    {% if project.url %}</a>{% endif %}
                    </a>
               </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
